/*CSS společné pro všechny obrazovky*/
/*Padding je zahrnut do velikosti prvku*/
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  margin-bottom: 30px;
  background-color: #142847;
  color: white;
  font-family: 'Open Sans', sans-serif;
}


/*"Čištění po jednotlivých řádcích"*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Všechny třídy začínající na col- mají následující vlastnosti */
[class*="col-"] {
  float: left;
  padding: 15px;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; /*Umožňuje zobrazit pozadí pro floatující elementy*/
  background-color: #333;
}


.menu a {
  float: left;
  text-decoration: none;
  color: #33c435;
  padding: 14px 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
 }

 .menu a:hover:not(.active) {
   background: #354468;
 }

.active {
  background: #354468;
}

.left-side {
  font-size: 13px;
}

.right-side {
    margin-top: 30px;
    display: none;
    border: 2px solid;
    border-color: #354468;
    background-color: #354468;

}

 .footer {
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   left: 0;
   bottom: 0;
   background-color: #333;
   color: white;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   height: 20px;
 }

/* ----------------------------------------------------- */
/*CSS závislé na velikosti obrazovky*/
/* Třída pro mobilní telefony */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* Tablety: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    /* Od velikosti 600px a vyšší zobrazíme prvek s třídou right-side*/
    .right-side {
      display: inherit;
    }

    .content {
      margin-left: 10px;
      margin-right: 20px;
    }
}
@media only screen and (min-width: 768px) {
    /* Pro stolní počítače */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* Responsive view přejato s úpravami z W3Schools*/
